@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 50px;
}

div.container {
  background-image: url("../assets/background-naruto.png");
  height: 100%;
  padding: 10% 10% 10% 10%;
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 150px;
  color: #1e4387;
  text-align: center;
  width: 50%;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  width: 50%;
}

p.text {
  font-size: 30px;
  width: 50%;
  margin-top: 5%;
  text-align: left;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
  width: 50%;
  margin-top: 2%;
}

span {
  color: #b21717;
}

input {
  padding: 1% 0 1% 0;
  width: 450px;
  border: none;
  border-radius: 50px;
  padding-left: 2%;
  margin-top: 2%;
}

#useremail::-webkit-input-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

#useremail::-moz-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

button {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  padding: 1% 0 1% 0;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #b21717;
}

button:hover {
  cursor: pointer;
}

img#naruto-img {
  display: none;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: #b21717;
  margin-top: 5%;
}

div.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 10% 5% 10%;
}

div.card-funko-pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #1e4387;
  border-radius: 15px;
  width: 400px;
  height: 465px;
}

img.funko-pop-img {
  width: 300px;
}

p.funko-pop-name {
  font-weight: 900;
  color: #2e2e2e;
  margin-top: 5%;
}

p.price {
  font-weight: 600;
  color: #2e2e2e;
}

footer {
  background-color: #2e2e2e;
}

footer p.text-footer {
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 2% 0 2% 0;
}
